@model PMS.Models.ReportViewModel
@{
    ViewBag.Title = "Sales Summary Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel box-shadow-none content-header">
    <div class="panel-body">
        <div class="col-md-6">
            <h3 class="animated fadeInLeft text-primary">Expense Report</h3>
        </div>
    </div>
</div>
<div class="col-md-12 padding-0">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="well">
                    @using (Html.BeginForm("ExpenseReport", "Report", FormMethod.Post, new { id = "SearchForm", name = "SearchForm" }))
                    {
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="control-label" for="from_date">Year:</label>
                                @Html.DropDownListFor(o => o.ReportYear, Model.YearList, new { @class = "form-control" })
                            </div>                           
                            <div class="form-group">
                                @Html.DropDownListFor(o => o.BranchId, Model.BranchList, new { @class = "form-control" })
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="SubmitAs('form');"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <button type="submit" class="btn btn-success pull-right" onclick="SubmitAs('export');"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export</button>
                        </div>
                    }

                </div>
            </div>
            <div class="panel-body">
                <div class="responsive-table">
                    @Html.Raw(Model.GridData)                   
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function SubmitAs(obj) {
        if (obj == 'form') {
            $("#SearchForm").attr('action', "ExpenseReport").submit();
        } else {
            $('#SearchForm').attr('action', "ExportExpenseReport").submit();
        }
    }
</script>

